* { box-sizing: border-box; }
body {
    margin:0 auto;
    width:80%;
    background-image:url("imagens/img_fundoPilli.jpg");
    background-attachment:fixed;
    /*background-repeat:no-repeat; faz com que a imagem não repita*/
    /*background-size:cover; preenche a imagem no fundo todo / contain reajusta a imagem toda*/
}
header {
    padding:5px;
    padding-left:30px;
    margin-top:10px;
    margin-bottom:20px;
    background-color:#000000d9;
    border-radius:10px;
    height:150px;
}
#img_logo {
    float:left;
    width:8%;
    margin:0;
}
header .menu {
    float:right;
    position:relative;
    top:36px;
    margin:0;
}
header nav .menu li a {
    color:#ffffff;
    padding:35px 10px 10px 10px;
    font-size:16px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    line-height:1.8em;
    text-decoration:none;
}
li a:hover {
    background-color:#bdbdbd48;
    border-radius:10px;
}
/*.menu {
    margin:0 0 20px 0;
    padding:0;
}*/
header nav .menu li {
    display:inline;
    list-style:none;
    margin-right:50px;
}
article {
    padding:20px;
    background-color:white;
    border-radius:10px;
}
h2 {
    color:#000000;
    font-family:Arial, sans-serif;
    /* text-shadow:10px 5px 10px #000000; serve para fazer sombra na palvra*/
}
.articles_projetos {
    background-color:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;    
}
#div_contato {
    display:flex;
    flex-wrap:wrap;
    /*height:500px;
    /*padding-left:50px;/*Não vai interferir quando for colocar em desing responsivo?*/
    /*padding-right:50px;/*Não vai interferir quando for colocar em desing responsivo?*/
}
#article_contato {
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border-radius:10px;
    padding:20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.img_icones {
    width:30%;
}
#article_formulario {
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border-radius:10px;
    padding:20px;
}
.div_inputs {
    margin:20px;
    padding-right:15px;
}
.inputs {
    margin:0;
    padding:10px;
    border:none;
    border-radius:10px;
    background-color:#bdbdbd;
    width:100%;/*campo preencher todo a div*/
    outline:none;/*tira a marcação de azul de link*/
}
#input_enviar {
    padding:10px;
    border-radius:10px;
    border:none;
    background-color:#000000d9;
    color: #ffffff;
    outline:none;
}
footer {
    margin-top:20px;
    margin-bottom:10px;
    padding:10px;
    background-color:#000000d9;
    border-radius:10px;
    color: #ffffff;
    font-family:Arial, sans-serif;
    text-align:center;
}